[Unit]
Description=Daily Rootnode games synchronization

[Timer]
OnCalendar=*-*-* 04:00:00 UTC
RandomizedDelaySec=15m
Persistent=true
Unit=rootnode-games-sync.service

[Install]
WantedBy=timers.target
